<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LetSlide</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <script type="text/javascript" href="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">LetSlide</a>
                    <ul class="nav">
                        <li><a href="{{ url_for('legal') }}">Legal</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <h1>{% block title %}LetSlide{% endblock %}</h1>
            
            {% for message in get_flashed_messages() %}
                <div class=flash>{{ message }}</div>
            {% endfor %}

            {% block body %}{% endblock %}
        </div>

        <footer>
            <p>Copyright &copy; 2012 Ridgebit LLC</p>
        </footer>

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-30924090-1']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
        </script>
    </body>
</html>
